@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	margin: 0
}

footer,
header {
	display: block
}

video {
	display: inline-block;
	vertical-align: baseline
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

img {
	border: 0
}

button {
	margin: 0;
	font: inherit;
	color: inherit
}

button {
	overflow: visible
}

button {
	text-transform: none
}

button {
	-webkit-appearance: button;
	cursor: pointer
}

button::-moz-focus-inner {
	padding: 0;
	border: 0
}

@media print {

	*,
	:after,
	:before {
		color: #000 !important;
		text-shadow: none !important;
		background: 0 0 !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important
	}

	a,
	a:visited {
		text-decoration: underline
	}

	a[href]:after {
		content: " ("attr(href) ")"
	}

	img {
		page-break-inside: avoid
	}

	img {
		max-width: 100% !important
	}

	h2,
	h3 {
		orphans: 3;
		widows: 3
	}

	h2,
	h3 {
		page-break-after: avoid
	}
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url(../fonts/glyphicons-halflings-regular.eot);
	src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff
}

button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

a {
	color: #337ab7;
	text-decoration: none
}

a:focus,
a:hover {
	color: #23527c;
	text-decoration: underline
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

img {
	vertical-align: middle
}

h2,
h3,
h4 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit
}

h2,
h3 {
	margin-top: 20px;
	margin-bottom: 10px
}

h4 {
	margin-top: 10px;
	margin-bottom: 10px
}

h2 {
	font-size: 30px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 18px
}

.text-left {
	text-align: left
}

.text-center {
	text-align: center
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media(min-width:768px) {
	.container {
		width: 750px
	}
}

@media(min-width:992px) {
	.container {
		width: 970px
	}
}

@media(min-width:1200px) {
	.container {
		width: 1170px
	}
}

.row {
	margin-right: -15px;
	margin-left: -15px
}

.col-lg-10,
.col-md-6,
.col-md-8,
.col-sm-10,
.col-sm-4,
.col-sm-8,
.col-xs-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}

.col-xs-12 {
	float: left
}

.col-xs-12 {
	width: 100%
}

@media(min-width:768px) {

	.col-sm-10,
	.col-sm-4,
	.col-sm-8 {
		float: left
	}

	.col-sm-10 {
		width: 83.33333333%
	}

	.col-sm-8 {
		width: 66.66666667%
	}

	.col-sm-4 {
		width: 33.33333333%
	}

	.col-sm-offset-1 {
		margin-left: 8.33333333%
	}
}

@media(min-width:992px) {

	.col-md-6,
	.col-md-8 {
		float: left
	}

	.col-md-8 {
		width: 66.66666667%
	}

	.col-md-6 {
		width: 50%
	}

	.col-md-offset-2 {
		margin-left: 16.66666667%
	}

	.col-md-offset-1 {
		margin-left: 8.33333333%
	}
}

@media(min-width:1200px) {
	.col-lg-10 {
		float: left
	}

	.col-lg-10 {
		width: 83.33333333%
	}

	.col-lg-offset-1 {
		margin-left: 8.33333333%
	}
}

.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden
}

.embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0
}

.embed-responsive-16by9 {
	padding-bottom: 56.25%
}

.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2
}

.close:focus,
.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .5
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px
}

.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-body {
	position: relative;
	padding: 15px
}

@media(min-width:768px) {
	.modal-dialog {
		width: 600px;
		margin: 30px auto
	}

	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
	}
}

.container:after,
.container:before,
.row:after,
.row:before {
	display: table;
	content: " "
}

.container:after,
.row:after {
	clear: both
}

@-ms-viewport {
	width: device-width
}

.atomLoader {
	display: none;
	width: 100vw;
	height: 100vh;
	background: #111d29;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 5000
}

.atomLoader .contentAtoms {
	width: 100px;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto
}

.atomLoader .contentAtoms:after {
	width: 25%;
	height: 25%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 5px rgba(255, 255, 255, .5);
	-khtml-box-shadow: 0 0 5px rgba(255, 255, 255, .5);
	-moz-box-shadow: 0 0 5px rgba(255, 255, 255, .5);
	-ms-box-shadow: 0 0 5px rgba(255, 255, 255, .5);
	-o-box-shadow: 0 0 5px rgba(255, 255, 255, .5);
	box-shadow: 0 0 5px rgba(255, 255, 255, .5);
	-webkit-animation: backgroundAtom 1s infinite linear;
	-khtml-animation: backgroundAtom 1s infinite linear;
	-moz-animation: backgroundAtom 1s infinite linear;
	-ms-animation: backgroundAtom 1s infinite linear;
	-o-animation: backgroundAtom 1s infinite linear;
	animation: backgroundAtom 1s infinite linear;
	content: ''
}

.atomLoader .contentAtoms:before {
	content: 'Подождите...';
	position: absolute;
	top: 105%;
	left: 0;
	text-align: center;
	width: 100%;
	overflow: hidden
}

.atomLoader .atom {
	width: 50px;
	height: 100%;
	background: rgba(255, 255, 255, 0);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: solid thin rgba(255, 255, 255, .2)
}

.atomLoader .atom:before {
	position: absolute;
	width: 12px;
	height: 12px;
	content: '';
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 5px rgba(255, 255, 255, .5) inset;
	-khtml-box-shadow: 0 0 5px rgba(255, 255, 255, .5) inset;
	-moz-box-shadow: 0 0 5px rgba(255, 255, 255, .5) inset;
	-ms-box-shadow: 0 0 5px rgba(255, 255, 255, .5) inset;
	-o-box-shadow: 0 0 5px rgba(255, 255, 255, .5) inset;
	box-shadow: 0 0 5px rgba(255, 255, 255, .5) inset
}

.atomLoader .atom:nth-child(1):before {
	-webkit-animation: point 1.5s -1s linear infinite;
	-khtml-animation: point 1.5s -1s linear infinite;
	-moz-animation: point 1.5s -1s linear infinite;
	-ms-animation: point 1.5s -1s linear infinite;
	-o-animation: point 1.5s -1s linear infinite;
	animation: point 1.5s -1s linear infinite
}

.atomLoader .atom:nth-child(2) {
	-webkit-transform: rotate(60deg);
	-khtml-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg)
}

.atomLoader .atom:nth-child(2):before {
	-webkit-animation: point 1.8s -2s linear infinite reverse;
	-khtml-animation: point 1.8s -2s linear infinite reverse;
	-moz-animation: point 1.8s -2s linear infinite reverse;
	-ms-animation: point 1.8s -2s linear infinite reverse;
	-o-animation: point 1.8s -2s linear infinite reverse;
	animation: point 1.8s -2s linear infinite reverse
}

.atomLoader .atom:nth-child(3) {
	-webkit-transform: rotate(-60deg);
	-khtml-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	transform: rotate(-60deg)
}

.atomLoader .atom:nth-child(3):before {
	-webkit-animation: point 1.3s -3s linear infinite reverse;
	-khtml-animation: point 1.3s -3s linear infinite reverse;
	-moz-animation: point 1.3s -3s linear infinite reverse;
	-ms-animation: point 1.3s -3s linear infinite reverse;
	-o-animation: point 1.3s -3s linear infinite reverse;
	animation: point 1.3s -3s linear infinite reverse
}

@-webkit-keyframes point {

	0%,
	100% {
		-webkit-transform: translate3d(-25px, 0, 0);
		-khtml-transform: translate3d(-25px, 0, 0);
		-moz-transform: translate3d(-25px, 0, 0);
		-ms-transform: translate3d(-25px, 0, 0);
		-o-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0)
	}

	7.6% {
		-webkit-transform: translate3d(-22px, -15px, 0);
		-khtml-transform: translate3d(-22px, -15px, 0);
		-moz-transform: translate3d(-22px, -15px, 0);
		-ms-transform: translate3d(-22px, -15px, 0);
		-o-transform: translate3d(-22px, -15px, 0);
		transform: translate3d(-22px, -15px, 0)
	}

	15.2% {
		-webkit-transform: translate3d(-19px, -30px, 0);
		-khtml-transform: translate3d(-19px, -30px, 0);
		-moz-transform: translate3d(-19px, -30px, 0);
		-ms-transform: translate3d(-19px, -30px, 0);
		-o-transform: translate3d(-19px, -30px, 0);
		transform: translate3d(-19px, -30px, 0)
	}

	22.7% {
		-webkit-transform: translate3d(0, -42px, 0);
		-khtml-transform: translate3d(0, -42px, 0);
		-moz-transform: translate3d(0, -42px, 0);
		-ms-transform: translate3d(0, -42px, 0);
		-o-transform: translate3d(0, -42px, 0);
		transform: translate3d(0, -42px, 0)
	}

	30.4% {
		-webkit-transform: translate3d(19px, -30px, 0);
		-khtml-transform: translate3d(19px, -30px, 0);
		-moz-transform: translate3d(19px, -30px, 0);
		-ms-transform: translate3d(19px, -30px, 0);
		-o-transform: translate3d(19px, -30px, 0);
		transform: translate3d(19px, -30px, 0)
	}

	38% {
		-webkit-transform: translate3d(22px, -15px, 0);
		-khtml-transform: translate3d(22px, -15px, 0);
		-moz-transform: translate3d(22px, -15px, 0);
		-ms-transform: translate3d(22px, -15px, 0);
		-o-transform: translate3d(22px, -15px, 0);
		transform: translate3d(22px, -15px, 0)
	}

	45.6% {
		-webkit-transform: translate3d(25px, 0, 0);
		-khtml-transform: translate3d(25px, 0, 0);
		-moz-transform: translate3d(25px, 0, 0);
		-ms-transform: translate3d(25px, 0, 0);
		-o-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0)
	}

	53.2% {
		-webkit-transform: translate3d(22px, 15px, 0);
		-khtml-transform: translate3d(22px, 15px, 0);
		-moz-transform: translate3d(22px, 15px, 0);
		-ms-transform: translate3d(22px, 15px, 0);
		-o-transform: translate3d(22px, 15px, 0);
		transform: translate3d(22px, 15px, 0)
	}

	60.8% {
		-webkit-transform: translate3d(19px, 30px, 0);
		-khtml-transform: translate3d(19px, 30px, 0);
		-moz-transform: translate3d(19px, 30px, 0);
		-ms-transform: translate3d(19px, 30px, 0);
		-o-transform: translate3d(19px, 30px, 0);
		transform: translate3d(19px, 30px, 0)
	}

	68.4% {
		-webkit-transform: translate3d(0, 42px, 0);
		-khtml-transform: translate3d(0, 42px, 0);
		-moz-transform: translate3d(0, 42px, 0);
		-ms-transform: translate3d(0, 42px, 0);
		-o-transform: translate3d(0, 42px, 0);
		transform: translate3d(0, 42px, 0)
	}

	76% {
		-webkit-transform: translate3d(-19px, 30px, 0);
		-khtml-transform: translate3d(-19px, 30px, 0);
		-moz-transform: translate3d(-19px, 30px, 0);
		-ms-transform: translate3d(-19px, 30px, 0);
		-o-transform: translate3d(-19px, 30px, 0);
		transform: translate3d(-19px, 30px, 0)
	}

	83.6% {
		-webkit-transform: translate3d(-22px, 15px, 0);
		-khtml-transform: translate3d(-22px, 15px, 0);
		-moz-transform: translate3d(-22px, 15px, 0);
		-ms-transform: translate3d(-22px, 15px, 0);
		-o-transform: translate3d(-22px, 15px, 0);
		transform: translate3d(-22px, 15px, 0)
	}
}

@-moz-keyframes point {

	0%,
	100% {
		-webkit-transform: translate3d(-25px, 0, 0);
		-khtml-transform: translate3d(-25px, 0, 0);
		-moz-transform: translate3d(-25px, 0, 0);
		-ms-transform: translate3d(-25px, 0, 0);
		-o-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0)
	}

	7.6% {
		-webkit-transform: translate3d(-22px, -15px, 0);
		-khtml-transform: translate3d(-22px, -15px, 0);
		-moz-transform: translate3d(-22px, -15px, 0);
		-ms-transform: translate3d(-22px, -15px, 0);
		-o-transform: translate3d(-22px, -15px, 0);
		transform: translate3d(-22px, -15px, 0)
	}

	15.2% {
		-webkit-transform: translate3d(-19px, -30px, 0);
		-khtml-transform: translate3d(-19px, -30px, 0);
		-moz-transform: translate3d(-19px, -30px, 0);
		-ms-transform: translate3d(-19px, -30px, 0);
		-o-transform: translate3d(-19px, -30px, 0);
		transform: translate3d(-19px, -30px, 0)
	}

	22.7% {
		-webkit-transform: translate3d(0, -42px, 0);
		-khtml-transform: translate3d(0, -42px, 0);
		-moz-transform: translate3d(0, -42px, 0);
		-ms-transform: translate3d(0, -42px, 0);
		-o-transform: translate3d(0, -42px, 0);
		transform: translate3d(0, -42px, 0)
	}

	30.4% {
		-webkit-transform: translate3d(19px, -30px, 0);
		-khtml-transform: translate3d(19px, -30px, 0);
		-moz-transform: translate3d(19px, -30px, 0);
		-ms-transform: translate3d(19px, -30px, 0);
		-o-transform: translate3d(19px, -30px, 0);
		transform: translate3d(19px, -30px, 0)
	}

	38% {
		-webkit-transform: translate3d(22px, -15px, 0);
		-khtml-transform: translate3d(22px, -15px, 0);
		-moz-transform: translate3d(22px, -15px, 0);
		-ms-transform: translate3d(22px, -15px, 0);
		-o-transform: translate3d(22px, -15px, 0);
		transform: translate3d(22px, -15px, 0)
	}

	45.6% {
		-webkit-transform: translate3d(25px, 0, 0);
		-khtml-transform: translate3d(25px, 0, 0);
		-moz-transform: translate3d(25px, 0, 0);
		-ms-transform: translate3d(25px, 0, 0);
		-o-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0)
	}

	53.2% {
		-webkit-transform: translate3d(22px, 15px, 0);
		-khtml-transform: translate3d(22px, 15px, 0);
		-moz-transform: translate3d(22px, 15px, 0);
		-ms-transform: translate3d(22px, 15px, 0);
		-o-transform: translate3d(22px, 15px, 0);
		transform: translate3d(22px, 15px, 0)
	}

	60.8% {
		-webkit-transform: translate3d(19px, 30px, 0);
		-khtml-transform: translate3d(19px, 30px, 0);
		-moz-transform: translate3d(19px, 30px, 0);
		-ms-transform: translate3d(19px, 30px, 0);
		-o-transform: translate3d(19px, 30px, 0);
		transform: translate3d(19px, 30px, 0)
	}

	68.4% {
		-webkit-transform: translate3d(0, 42px, 0);
		-khtml-transform: translate3d(0, 42px, 0);
		-moz-transform: translate3d(0, 42px, 0);
		-ms-transform: translate3d(0, 42px, 0);
		-o-transform: translate3d(0, 42px, 0);
		transform: translate3d(0, 42px, 0)
	}

	76% {
		-webkit-transform: translate3d(-19px, 30px, 0);
		-khtml-transform: translate3d(-19px, 30px, 0);
		-moz-transform: translate3d(-19px, 30px, 0);
		-ms-transform: translate3d(-19px, 30px, 0);
		-o-transform: translate3d(-19px, 30px, 0);
		transform: translate3d(-19px, 30px, 0)
	}

	83.6% {
		-webkit-transform: translate3d(-22px, 15px, 0);
		-khtml-transform: translate3d(-22px, 15px, 0);
		-moz-transform: translate3d(-22px, 15px, 0);
		-ms-transform: translate3d(-22px, 15px, 0);
		-o-transform: translate3d(-22px, 15px, 0);
		transform: translate3d(-22px, 15px, 0)
	}
}

@keyframes point {

	0%,
	100% {
		-webkit-transform: translate3d(-25px, 0, 0);
		-khtml-transform: translate3d(-25px, 0, 0);
		-moz-transform: translate3d(-25px, 0, 0);
		-ms-transform: translate3d(-25px, 0, 0);
		-o-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0)
	}

	7.6% {
		-webkit-transform: translate3d(-22px, -15px, 0);
		-khtml-transform: translate3d(-22px, -15px, 0);
		-moz-transform: translate3d(-22px, -15px, 0);
		-ms-transform: translate3d(-22px, -15px, 0);
		-o-transform: translate3d(-22px, -15px, 0);
		transform: translate3d(-22px, -15px, 0)
	}

	15.2% {
		-webkit-transform: translate3d(-19px, -30px, 0);
		-khtml-transform: translate3d(-19px, -30px, 0);
		-moz-transform: translate3d(-19px, -30px, 0);
		-ms-transform: translate3d(-19px, -30px, 0);
		-o-transform: translate3d(-19px, -30px, 0);
		transform: translate3d(-19px, -30px, 0)
	}

	22.7% {
		-webkit-transform: translate3d(0, -42px, 0);
		-khtml-transform: translate3d(0, -42px, 0);
		-moz-transform: translate3d(0, -42px, 0);
		-ms-transform: translate3d(0, -42px, 0);
		-o-transform: translate3d(0, -42px, 0);
		transform: translate3d(0, -42px, 0)
	}

	30.4% {
		-webkit-transform: translate3d(19px, -30px, 0);
		-khtml-transform: translate3d(19px, -30px, 0);
		-moz-transform: translate3d(19px, -30px, 0);
		-ms-transform: translate3d(19px, -30px, 0);
		-o-transform: translate3d(19px, -30px, 0);
		transform: translate3d(19px, -30px, 0)
	}

	38% {
		-webkit-transform: translate3d(22px, -15px, 0);
		-khtml-transform: translate3d(22px, -15px, 0);
		-moz-transform: translate3d(22px, -15px, 0);
		-ms-transform: translate3d(22px, -15px, 0);
		-o-transform: translate3d(22px, -15px, 0);
		transform: translate3d(22px, -15px, 0)
	}

	45.6% {
		-webkit-transform: translate3d(25px, 0, 0);
		-khtml-transform: translate3d(25px, 0, 0);
		-moz-transform: translate3d(25px, 0, 0);
		-ms-transform: translate3d(25px, 0, 0);
		-o-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0)
	}

	53.2% {
		-webkit-transform: translate3d(22px, 15px, 0);
		-khtml-transform: translate3d(22px, 15px, 0);
		-moz-transform: translate3d(22px, 15px, 0);
		-ms-transform: translate3d(22px, 15px, 0);
		-o-transform: translate3d(22px, 15px, 0);
		transform: translate3d(22px, 15px, 0)
	}

	60.8% {
		-webkit-transform: translate3d(19px, 30px, 0);
		-khtml-transform: translate3d(19px, 30px, 0);
		-moz-transform: translate3d(19px, 30px, 0);
		-ms-transform: translate3d(19px, 30px, 0);
		-o-transform: translate3d(19px, 30px, 0);
		transform: translate3d(19px, 30px, 0)
	}

	68.4% {
		-webkit-transform: translate3d(0, 42px, 0);
		-khtml-transform: translate3d(0, 42px, 0);
		-moz-transform: translate3d(0, 42px, 0);
		-ms-transform: translate3d(0, 42px, 0);
		-o-transform: translate3d(0, 42px, 0);
		transform: translate3d(0, 42px, 0)
	}

	76% {
		-webkit-transform: translate3d(-19px, 30px, 0);
		-khtml-transform: translate3d(-19px, 30px, 0);
		-moz-transform: translate3d(-19px, 30px, 0);
		-ms-transform: translate3d(-19px, 30px, 0);
		-o-transform: translate3d(-19px, 30px, 0);
		transform: translate3d(-19px, 30px, 0)
	}

	83.6% {
		-webkit-transform: translate3d(-22px, 15px, 0);
		-khtml-transform: translate3d(-22px, 15px, 0);
		-moz-transform: translate3d(-22px, 15px, 0);
		-ms-transform: translate3d(-22px, 15px, 0);
		-o-transform: translate3d(-22px, 15px, 0);
		transform: translate3d(-22px, 15px, 0)
	}
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif !important;
	color: #fff;
	font-size: 16px
}

html {
	background: #111b26
}

body {
	background: #1e2736 url(../../assets/img/mountain.jpg) 50% 0 no-repeat;
	background-size: 100%
}

header {
	background: #111b26;
	padding: 10px 0 5px;
	border-bottom: 1px solid #66717e;
	margin-bottom: 15px
}

footer {
	background: #111b26;
	padding: 13px 0;
	border-top: 1px solid #66717e
}

.data {
	background: url(../../assets/img/bg-data.png) 50% 0 no-repeat;
}

.logo {
	width: 100%;
	max-width: 230px;
	margin: 5px
}

h2 {
	font-size: 1.6em;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	margin: 20px 0;
	line-height: 1.4
}

h3 {
	font-size: 1.375em;
	text-transform: uppercase;
	margin: 5px;
	line-height: 1.2;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase
}

h4 {
	font-size: 1em;
	line-height: 1.2;
	margin: 0;
	color: #000;
	font-weight: 900
}

a {
	color: #17d4fb
}

a:focus,
a:hover {
	color: #00a3d9;
	text-decoration: underline
}

.blue {
	color: #17d4fb
}

.green {
	color: #0ada14
}

.vip {
	margin: 0 0 10px;
	color: #ed1e1e
}

.menu {
	margin: 10px 0;
	text-align: center
}

.menu a {
	color: #fff;
	font-size: .8em;
	display: inline-block;
	margin: 3px 10px
}

.copyright {
	color: #fff;
	font-size: .8em;
	text-align: center
}

.no-upper {
	text-transform: none
}

.spacer {
	height: 2.5em
}

.trusted {
	display: inline-block;
	margin: .8em;
	max-width: calc(20% - 1.8em)
}

.photo img {
	width: 100%
}

.close {
	color: #ed1e1e;
	position: absolute;
	top: -10px;
	right: -30px;
	opacity: 1;
	font-size: 40px;
	font-weight: 300;
	text-shadow: none
}

.vip-comment {
	border-radius: 8px;
	background: #d1d1d1;
	color: #000;
	margin: 0 0 4em;
	font-size: 1.125em;
	padding: 5px;
	position: relative;
	top: 5px
}

.modal .vip-comment {
	margin: 0 10px 20px
}

.vip-comment:after {
	content: '';
	position: absolute;
	bottom: 98%;
	left: 40px;
	width: 0;
	height: 0;
	border-bottom: 18px solid #d1d1d1;
	border-right: 18px solid transparent;
	border-left: 18px solid transparent
}

.vip-comment span {
	color: #ed1e1e;
	font-weight: 900
}

.grayscale img {
	filter: grayscale(100%);
	opacity: .8
}

.video-wrapper {
	width: 100%;
	max-width: 970px;
	margin: 20px auto
}

.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	padding-bottom: 56%;
	z-index: 500
}

.embed-responsive.embed-responsive-16by9 {
	padding-bottom: 56.25%
}

.button {
	display: block;
	width: 100%;
	min-height: 50px;
	margin: 1em auto;
	padding: 10px;
	background: #12d11b;
	background: -moz-linear-gradient(top, #12d11b 0, #069c0d 100%);
	background: -webkit-linear-gradient(top, #12d11b 0, #069c0d 100%);
	background: linear-gradient(to bottom, #12d11b 0, #069c0d 100%);
	border: 0;
	cursor: pointer;
	color: #fff;
	font-size: 1.2em;
	font-weight: 900;
	text-transform: uppercase;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .57), inset 0 2px 0 0 rgba(255, 255, 255, .3);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .57), inset 0 2px 0 0 rgba(255, 255, 255, .3);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .57), inset 0 2px 0 0 rgba(255, 255, 255, .3)
}

.button:hover {
	position: relative;
	box-shadow: none
}

.modal-dialog {
	max-width: 610px;
	width: 100%
}

.modal-dialog {
	margin: 20px auto
}

.modal-body {
	padding: 5px 15px
}

.subscription .modal-content .trusted {
	margin: .9em .65em
}

.subscription .modal-content .button {
	margin: 1em auto;
	min-height: 70px
}

.subscription .modal-content h4.large {
	font-size: 1.9em
}

.subscription .modal-content h2.vip {
	font-size: 2.9em
}

.online {
	position: fixed;
	bottom: 15px;
	left: 10px;
	width: 170px;
	height: 68px;
	z-index: 500
}

.slots {
	position: fixed;
	bottom: 15px;
	right: 10px;
	width: 170px;
	height: 68px;
	z-index: 500
}

.pin {
	position: absolute;
	top: 0;
	width: 60px;
	height: 68px;
	font-family: 'Bebas Neue', cursive;
	font-size: 2em;
	line-height: 58px;
	text-align: center;
	overflow: hidden
}

.online .pin {
	left: 0;
	background: url(../../assets/img/pin-online.png) 50% 50% no-repeat;
	color: #17d4fb
}

.slots .pin {
	right: 0;
	background: url(../../assets/img/pin-slots.png) 50% 50% no-repeat;
	color: #11cc1a
}

.labels {
	margin: 7px 0;
	border-radius: 8px;
	border: 2px dashed;
	font-weight: 400;
	color: #fff;
	padding: 5px;
	text-transform: uppercase;
	font-size: 14px
}

.online .labels {
	border-color: #17d4fb;
	padding-left: 35px;
	margin-left: 30px;
	width: 100%
}

.slots .labels {
	border-color: #11cc1a;
	padding-right: 35px;
	margin-right: 30px
}

.labels span {
	font-weight: 600
}

.online .labels span {
	color: #17d4fb
}

.slots .labels span {
	color: #11cc1a
}

@media screen and (min-width:1200px) {
	.subscription .button {
		margin-top: .5em
	}
}

@media screen and (max-width:991px) and (min-width:768px) {

	body,
	html {
		font-size: 13px
	}
}

@media screen and (max-width: 991px) {
	.data.graphic-bg {
		background-size: cover;
	}
}

@media screen and (max-width:767px) {

	body,
	html {
		font-size: 13px
	}

	header {
		text-align: center
	}

	.online,
	.slots {
		display: none !important
	}

	.online {
		left: 0
	}

	.slots {
		right: 0;
		margin-top: 20px
	}

	.flex-row {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 450px) {
	.reference-block {
		width: 100% !important;
	}
}

#wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 1040;
	display: none;
	background-color: #000;
	opacity: .5
}

#popup {
	position: relative;
	margin: 25px auto;
	width: 100%;
	max-width: 580px;
	height: auto;
	-webkit-perspective: 800px;
	-webkit-perspective-origin: 50% 50px;
	perspective: 800px;
	perspective-origin: 50% 50px
}

.piece {
	background: #fff;
	float: left
}

.form__input_fake {
	color: #555 !important
}

.flex-row {
	display: flex;
	align-items: center;
}

/* .panel-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
} */

.panel-row .panel {
	width: 23%;
	border: none;
}

.panel-row .panel-heading {
	background: linear-gradient(#12d11b, #069c0d);
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

.panel-img {
	width: 100%;
	max-width: 100%;
}

.panel-body {
	background-color: #fff;
	border-radius: 0 0 10px 10px;

}

.reference-block {
	margin-bottom: 20px;
}

.reference-text {
	color: #000;
	font-size: 14px;
}

#error-popup {
	z-index: 1001 !important
}

form input.error {
	color: #fff !important
}

form input.valid {
	color: #fff !important
}